
<h1>hola</h1>



<div *ngIf="!authenticated">
  <button type="button" (click)="authenticate()">Autenticar</button>
</div>


<div *ngIf="authenticated">
  
  <input type="file" (change)="onFileSelected($event)">
  
  <button type="submit" class="btn btn-primary" color="primary" [disabled]="enviando" (click)="onUpload()">
    <span *ngIf="!enviando"> Enviar </span>
    <span *ngIf="enviando"> Enviando... </span>
  </button>
  
  <mat-progress-bar mode="determinate" [value]="porcentaje" style="margin-top: 20px;"></mat-progress-bar>
  <div *ngIf="!enviando && porcentaje === 100" class="letraEnvio">
    Envío Exitoso
  </div>

</div>







